@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

html {
    background: #000;
}

div {
    background: #000;
}

h1 {
    font-size: 240px;
    font-family: 'Koulen', cursive;

    margin-top: -5rem;
    margin-left: 2rem;

    background: var(--gradient-background);
    -webkit-mask: var(--mask);
    mask: var(--mask);
    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;

    --mask: url('data:image/svg+xml;utf8,<svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg"><path d="M7.5 11.25a3.75 3.75 0 1 0 0 -7.5 3.75 3.75 0 0 0 0 7.5z"/></svg>');
    --base-color: rgb(131, 58, 180);
    --halfway-color: rgba(253, 29, 29, 1);
    --endgame-color: rgba(252, 176, 69, 1);
    --gradient-background: linear-gradient(
        90deg,
        var(--base-color) 0%,
        var(--halfway-color) 10%,
        var(--endgame-color) 20%
    );

    animation-duration: 1s;
    animation-name: scroll;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes scroll {
    from {
        -webkit-mask-position: 0px 0px;
        mask-position: 0px 0px;
    }

    to {
        -webkit-mask-position: 30px 0px;
        mask-position: 30px 0px;
    }
}
