@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

html {
    background: #000;
}

div {
    background: #000;
}

span {
    font-size: 240px;
    font-family: 'Koulen', cursive;

    margin-top: -5rem;
    margin-left: 2rem;
    position: relative;
    overflow: hidden;

    background: var(--gradient-background);
    -webkit-mask: var(--mask);
    mask: var(--mask);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200% 200%;

    -webkit-text-fill-color: transparent;

    --mask: url('./star.svg');
    --base-color: rgb(131, 58, 180);
    --halfway-color: rgba(253, 29, 29, 1);
    --endgame-color: rgba(252, 176, 69, 1);
    --gradient-background: linear-gradient(
        90deg,
        var(--base-color) 0%,
        var(--halfway-color) 50%,
        var(--endgame-color) 100%
    );

    animation-duration: 1s, 10s;
    animation-name: scroll, roll;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

span::before {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    -webkit-mask: url('./star.svg') 0 0 repeat;
    mask: url('./star.svg') 0 0 repeat;
    transform: rotate(30deg);
}

@keyframes roll {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes scroll {
    from {
        -webkit-mask-position: 0px 0px;
        mask-position: 0px 0px;
    }

    to {
        -webkit-mask-position: rotate(60deg);
        mask-position: rotate(-30deg);
    }
}
